# Docker ignore
node_modules
.pnp
.pnp.js
.next
out
build
dist
coverage
*.log
.env
.env.local
.env.production.local
.env.development.local
.vercel
.DS_Store
*.pem
.idea
.vscode
*.swp
*.swo
Thumbs.db
ehthumbs.db
Desktop.ini